FORMAT: 1A
HOST: https://api.shrikeh.net


# Army builder
Army builder API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Game
Game-related resources of the **Game API**

## Games Collection [/]
### List all Games [GET]
+ Response 200 (application/hal+json)
    + Headers
    
            Link: <https://api.shrikeh.net/>;rel="self"
            Last-Modified: Wed, 07 Apr 2014 23:31:27 GMT

    + Body
    
            { 
                "_links": {
                    "self": {
                        "href": "/"
                    }
                },
                "_embedded": {
                    "infinity": {
                        "name": "Infinity",
                        "description": "Infinity is a game with 28mm high metal miniatures that simulates combat and special operations in a science fiction environment with Manga aesthetics. Infinity miniatures are characterized by the high quality and detail of their modeling, the dynamism of their postures and their futuristic aesthetic.",
                        "_links": {
                            "self": {
                                "href": "/infinity"
                            },
                            "factions": {
                                "href": "/infinity/factions"
                            }
                        }
                    },
                    "x-wing": {
                        "name": "X-Wing",
                        "description": "Control the most advanced starfighters and outstanding pilots in the galaxy! In X-Wing Miniatures Game, you take the role of squad leader and command a group of merciless Imperial or daring Rebel pilots in furious ship-to-ship space combat. Featuring stunningly detailed and painted miniatures, X-Wing recreates exciting Star Wars space battles from small engagements of only a couple of crafts, to large conflicts where multiple squadrons clash. Select and equip your ships, pick your crew, plan your attack, and complete your mission.",
                        "_links": {
                            "self": {
                                "href": "/x-wing"
                            },
                            "factions": {
                                "href": "/x-wing/factions"
                            }
                        }
                    },
                    "dust-warfare: {
                        "name": "Dust Warfare",
                        "description": Dust Warfare is a tabletop wargame designed by Andy Chambers and Mack Martin in which players take command of elite soldiers, awesome combat walkers, and inspiring heroes on the battlefronts of World War II. In this accessible and thrilling game, opposing generals craft strategies and execute tactics as they fight for victory.\n\nIn Dust Warfare, you’ll build and customize an army and lead them in engaging and interactive battles. Hand-select your forces for each engagement, and deploy them in intense missions that test your skill as a field commander. With its flexible rules, you can interrupt your opponent’s turn, reacting to his movements or attacks. Feign assaults, outsmart the enemy, and lure him into exposing his plans.",
                        "_links": {
                            "self": {
                                "href": "/dust-warfare"
                            },
                            "factions": {
                                "href": "/dust-warfare/factions"
                            }
                        }
                    }
                },
                "total": 3
            }
            
## Game [/{game}]
A single Game resource with all its details.
The Game resource has the following attributes:

- name
- description
+ Parameters
    + game (required, game, `infinity`) ... String `game` of the Game to query. Has example value.
    
+ Model (application/hal+json)

    HAL+JSON representation of Game Resource. In addition to representing its state in the JSON form it offers affordances in the form of the HTTP Link header and HAL links.
    + Headers
    
            Link: <https://api.shrikeh.net/infinity/>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body
    
            { 
                "name": "Infinity",
                "description": "Infinity is a game with 28mm high metal miniatures that simulates combat and special operations in a science fiction environment with Manga aesthetics. Infinity miniatures are characterized by the high quality and detail of their modeling, the dynamism of their postures and their futuristic aesthetic.",
                "_embedded": {
                    "manufacturers": [{
                        "_links": {
                            "self": {
                                "href": "/manufacturers/corvus-belli"
                            },
                        },
                        "name": "Corvus Belli",
                        "website": "http://www.infinitythegame.com",
                        "description": "Corvus Belli puts history and fantasy in your hands. Corvus Belli designs and manufacture s miniatures in white metal for collectors, painters, wargamers and role-playing games players. The miniatures are supplied without painting."
                    }]
                },
                "_links": {
                    "self": {
                        "href": "/infinity"
                    },
                    "factions": {
                        "href": "/infinity/factions"
                    }
                }
            }

### Show a Game [GET]
+ Response 200
    [Game][]
    
### Edit a Game [PATCH]
+ Request (application/json)

        {
            "description": "New description"
        }
        
+ Response 204

### Delete a Game [DELETE]
+ Response 204

# Group Faction
Faction related resources of the **Factions API**
## Factions Collection [/{game}/factions]
### List all Factions [GET]
+ Parameters
    + game (required, game, `infinity`) ... String `game` of the Game to query for factions. Has example value.
+ Response 200 (application/hal+json)
    + Headers
    
            Link: <https://api.shrikeh.net/infinity/factions>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body 
    
            {
                "_links": {
                    "self": {
                        "href": "/infinity/factions"
                    },
                },
                "_embedded": {
                    "groupings": [
                    {
                        "name": "Human Sphere",
                        "_links": {
                            "self": {
                                "href": "/infinity/factions/human-sphere"
                            },
                            "haqqislam": {
                                "href": "/infinity/factions/haqqislam"
                                "name": "Haqqislam"
                            },
                            "panoceania": {
                                "href": "/infinity/factions/panoceania",
                                "name": "PanOceania"
                            },
                            "aleph": {
                                "href": "/infinity/factions/aleph"
                                "name": "Aleph"
                            },
                            "yu-jing": {
                                "href": "/infinity/factions/yu-jing"
                                "name": "Yu Jing"
                            },
                            "ariadna": {
                                "href": "/infinity/factions/ariadna"
                                "name": "Ariadna"
                            }
                        }
                    },
                    {
                        "name": "Combined Army",
                        "_links": {
                            "self": {
                                "href": "/infinity/factions/combined-army"
                            }
                        },
                        "_embedded": {
                            "armies": [{
                                "_links": {
                                    "self": {
                                        "href": "/infinity/factions/combined-army/armies"
                                    }
                                }
                            }]
                        }
                    },
                    {
                        "name": Tohaa",
                        "_links": {
                            "self": {
                                "href": "/infinity/factions/tohaa"
                            }
                        },
                        "_embedded": {
                            "armies": [{
                                "_links": {
                                    "self": {
                                        "href": "/infinity/factions/tohaa/armies"
                                    }
                                }
                            }]
                        }
                    }]
                }
            }
            

## Faction [/{game}/factions/{faction}]
A single Faction object with all its details

+ Parameters
    + game (required, game, `dust-warfare`) ... String `game` of the Game to query for factions. Has example value.
    + faction (required, faction, `ssu`) ... String `faction` of the Faction to perform action with. Has example value.
+ Model (application/hal+json)
    + Headers
    
            Link: <https://api.shrikeh.net/dust-warfare/factions/ssu>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body

            {
                "_links": {
                    "self": {
                        "href": "/dust-warfare/factions/ssu"
                    },
                    "units": {
                        "href": "/dust-warfare/factions/ssu/units"
                    }
                },
                "name": "Sino-Soviet Union",
                "abbreviation": "SSU"
            }
            
### Retrieve a Faction [GET]
+ Response 200 (application/hal+json)
    [Faction][]

# Group Unit
Unit-related resources of the **Units API**
## Units Collection [/{game}/units]
### List all Units [GET]
+ Parameters
    + game (required, game, `infinity`) ... String `game` of the Game to query for Units. Has example value.
+ Response 200 (application/hal+json)
    + Headers
    
            Link: <https://api.shrikeh.net/infinity/units>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body  

            [{
                "_links": {
                    "self": {
                        "href": "/infinity/units"
                    },            
            }]