FORMAT: 1A
HOST: https://api.shrikeh.net


# Army builder
Army builder API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Game
Game-related resources of the **Game API**

## Games Collection [/]
### List all Games [GET]
+ Response 200 (application/hal+json; charset=utf-8)
    + Headers
    
            Link: <https://api.shrikeh.net/>;rel="self"
            Last-Modified: Wed, 07 Apr 2014 23:31:27 GMT

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "/"
                    },
                    "curies": [
                    {
                        "name": "ht",
                    "href": "http://haltalk.herokuapp.com/rels/{rel}",
                    "templated": true
                  }
                ],
                "ht:users": {
                  "href": "/users"
                },
                "ht:signup": {
                  "href": "/signup"
                },
                "ht:me": {
                  "href": "/users/{name}",
                  "templated": true
                },
                "ht:latest-posts": {
                  "href": "/posts/latest"
                }
              },
              "welcome": "Welcome to a haltalk server.",
              "hint_1": "You need an account to post stuff..",
              "hint_2": "Create one by POSTing via the ht:signup link..",
              "hint_3": "Click the orange buttons on the right to make POST requests..",
              "hint_4": "Click the green button to follow a link with a GET request..",
              "hint_5": "Click the book icon to read docs for the link relation."
            }
            
## Game [/{game}]
A single Game resource with all its details.
The Game resource has the following attributes:

- name
- description
+ Parameters
    + game (required, game, `infinity`) ... String `game` of the Game to query. Has example value.
    
+ Model (application/hal+json)

    HAL+JSON representation of Game Resource. In addition to representing its state in the JSON form it offers affordances in the form of the HTTP Link header and HAL links.
    + Headers
    
            Link: <https://api.shrikeh.net/infinity/>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body
    
            { 
                "name": "Infinity",
                "description": "Infinity is a game with 28mm high metal miniatures that simulates combat and special operations in a science fiction environment with Manga aesthetics. Infinity miniatures are characterized by the high quality and detail of their modeling, the dynamism of their postures and their futuristic aesthetic.",
                "_embedded": {
                    "manufacturers": [{
                        "_links": {
                            "self": {
                                "href": "/manufacturers/corvus-belli"
                            },
                        },
                        "name": "Corvus Belli",
                        "website": "http://www.infinitythegame.com",
                        "description": "Corvus Belli puts history and fantasy in your hands. Corvus Belli designs and manufacture s miniatures in white metal for collectors, painters, wargamers and role-playing games players. The miniatures are supplied without painting."
                    }]
                },
                "_links": {
                    "self": {
                        "href": "/infinity"
                    },
                    "factions": {
                        "href": "/infinity/factions"
                    }
                }
            }

### Show a Game [GET]
+ Response 200
    [Game][]
    
### Edit a Game [PATCH]
+ Request (application/json)

        {
            "description": "New description"
        }
        
+ Response 204

### Delete a Game [DELETE]
+ Response 204

# Group Faction
Faction related resources of the **Factions API**
## Factions Collection [/{game}/factions]
### List all Factions [GET]
+ Parameters
    + game (required, game, `infinity`) ... String `game` of the Game to query for factions. Has example value.
+ Response 200 (application/hal+json)
    + Headers
    
            Link: <https://api.shrikeh.net/infinity/factions>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body 
    
            {
                "_links": {
                    "self": {
                        "href": "/infinity/factions"
                    },
                },
                "_embedded": {
                    "groupings": [
                    {
                        "name": "Human Sphere",
                        "_links": {
                            "self": {
                                "href": "/infinity/factions/human-sphere"
                            },
                            "haqqislam": {
                                "href": "/infinity/factions/haqqislam"
                                "name": "Haqqislam"
                            },
                            "panoceania": {
                                "href": "/infinity/factions/panoceania",
                                "name": "PanOceania"
                            },
                            "aleph": {
                                "href": "/infinity/factions/aleph"
                                "name": "Aleph"
                            },
                            "yu-jing": {
                                "href": "/infinity/factions/yu-jing"
                                "name": "Yu Jing"
                            },
                            "ariadna": {
                                "href": "/infinity/factions/ariadna"
                                "name": "Ariadna"
                            }
                        }
                    },
                    {
                        "name": "Combined Army",
                        "_links": {
                            "self": {
                                "href": "/infinity/factions/combined-army"
                            }
                        },
                        "_embedded": {
                            "armies": [{
                                "_links": {
                                    "self": {
                                        "href": "/infinity/factions/combined-army/armies"
                                    }
                                }
                            }]
                        }
                    },
                    {
                        "name": Tohaa",
                        "_links": {
                            "self": {
                                "href": "/infinity/factions/tohaa"
                            }
                        },
                        "_embedded": {
                            "armies": [{
                                "_links": {
                                    "self": {
                                        "href": "/infinity/factions/tohaa/armies"
                                    }
                                }
                            }]
                        }
                    }]
                }
            }
            

## Faction [/{game}/factions/{faction}]
A single Faction object with all its details

+ Parameters
    + game (required, game, `dust-warfare`) ... String `game` of the Game to query for factions. Has example value.
    + faction (required, faction, `ssu`) ... String `faction` of the Faction to perform action with. Has example value.
+ Model (application/hal+json)
    + Headers
    
            Link: <https://api.shrikeh.net/dust-warfare/factions/ssu>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body

            {
                "_links": {
                    "self": {
                        "href": "/dust-warfare/factions/ssu"
                    },
                    "units": {
                        "href": "/dust-warfare/factions/ssu/units"
                    }
                },
                "name": "Sino-Soviet Union",
                "abbreviation": "SSU"
            }
            
### Retrieve a Faction [GET]
+ Response 200 (application/hal+json)
    [Faction][]

# Group Unit
Unit-related resources of the **Units API**
## Units Collection [/{game}/units]
### List all Units [GET]
+ Parameters
    + game (required, game, `infinity`) ... String `game` of the Game to query for Units. Has example value.
+ Response 200 (application/hal+json)
    + Headers
    
            Link: <https://api.shrikeh.net/infinity/units>;rel="self"
            Last-Modified: Wed, 07 Jul 2010 23:31:27 GMT

    + Body  

            [{
                "_links": {
                    "self": {
                        "href": "/infinity/units"
                    },            
            }]